.sneakers{
    background-image: url("images/sneakers.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 80%;
}
input{
    width:15px;
    height:15px
}

.taille{
    height: 35px;
    width: 35px;
    padding-top: 5px;
}